<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Country Delight Packing App Test Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cee388">  <td>21/05/21 12:02:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.packingapp.qa.testcases.HomePageTest@589b028e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@939625314</td>   <td></td> </tr>
<tr bgcolor="cee388">  <td>21/05/21 12:03:02</td>   <td>11071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.ClickingTodayTommorrowFiled()[pri:0, instance:com.packingapp.qa.testcases.HomePageTest@589b028e]">ClickingTodayTommorrowFiled</td> 
  <td>main@939625314</td>   <td></td> </tr>
</table>
