<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a99065">  <td>22/10/05 13:24:19</td>   <td>0</td> <td title="&gt;&gt;RegressionSuite.initialize()[pri:0, instance:com.packingapp.qa.testsuite.RegressionSuite@228cea97]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235155342</td>   <td></td> </tr>
<tr bgcolor="a99065">  <td>22/10/05 13:24:30</td>   <td>11132</td> <td>&nbsp;</td><td title="&gt;&gt;RegressionSuite.Report()[pri:0, instance:com.packingapp.qa.testsuite.RegressionSuite@228cea97]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235155342</td>   <td></td> </tr>
<tr bgcolor="a99065">  <td>22/10/05 13:24:30</td>   <td>11297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuite.verifySettingsPg()[pri:0, instance:com.packingapp.qa.testsuite.RegressionSuite@228cea97]">verifySettingsPg</td> 
  <td>main@1235155342</td>   <td></td> </tr>
<tr bgcolor="a99065">  <td>22/10/05 13:24:40</td>   <td>21148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuite.ClosingStockReturnSummaryPg()[pri:1, instance:com.packingapp.qa.testsuite.RegressionSuite@228cea97]">ClosingStockReturnSummaryPg</td> 
  <td>main@1235155342</td>   <td></td> </tr>
<tr bgcolor="a99065">  <td>22/10/05 13:25:13</td>   <td>54230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuite.ReturnPg()[pri:2, instance:com.packingapp.qa.testsuite.RegressionSuite@228cea97]">ReturnPg</td> 
  <td>main@1235155342</td>   <td></td> </tr>
<tr bgcolor="a99065">  <td>22/10/05 13:26:11</td>   <td>112269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuite.ClosingStockPg()[pri:3, instance:com.packingapp.qa.testsuite.RegressionSuite@228cea97]">ClosingStockPg</td> 
  <td>main@1235155342</td>   <td></td> </tr>
<tr bgcolor="a99065">  <td>22/10/05 13:27:08</td>   <td>169138</td> <td title="&lt;&lt;RegressionSuite.closeBrowser()[pri:0, instance:com.packingapp.qa.testsuite.RegressionSuite@228cea97]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1235155342</td>   <td></td> </tr>
</table>
