<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6c66">  <td>22/04/26 00:01:52</td>   <td>0</td> <td title="&gt;&gt;RegressionSuite.initialize()[pri:0, instance:com.packingapp.qa.testsuite.RegressionSuite@3a8d467e]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1977652583</td>   <td></td> </tr>
<tr bgcolor="7d6c66">  <td>22/04/26 00:01:52</td>   <td>25</td> <td>&nbsp;</td><td title="&gt;&gt;RegressionSuite.Report()[pri:0, instance:com.packingapp.qa.testsuite.RegressionSuite@3a8d467e]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1977652583</td>   <td></td> </tr>
<tr bgcolor="7d6c66">  <td>22/04/26 00:01:52</td>   <td>167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuite.verifyLogin()[pri:1, instance:com.packingapp.qa.testsuite.RegressionSuite@3a8d467e]">verifyLogin</td> 
  <td>main@1977652583</td>   <td></td> </tr>
<tr bgcolor="7d6c66">  <td>22/04/26 00:01:53</td>   <td>308</td> <td title="&lt;&lt;RegressionSuite.closeBrowser()[pri:0, instance:com.packingapp.qa.testsuite.RegressionSuite@3a8d467e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1977652583</td>   <td></td> </tr>
</table>
